.generatedMountainContainer {
    position: absolute;
    top: 5px;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    svg path.line {
        position: absolute;
        left: 0;

        fill: #1e202f;
    }
    svg {
        transition: transform 1s;
        transition-timing-function: cubic-bezier(.075, .820, .165, 1.000);
    }
    .checkpointLabel {
        transform: translate(0, 23px) scale(.7);

        fill: #b5fffb;
    }
}

.chart {
    width: calc(100000px - 450px);
    height: 100%;
}

.tri {
    transform: rotate(180deg) translate(0, 8px);

    fill: #b5fffb;
}

.triTimeAgo {
    transform: rotate(180deg) translate(0, 8px);

    fill: #b5fffb;
}

.camera {
    transform: rotate(180deg) translate(0, 8px);

    fill: transparent;
}

.checkpoint {
    transform: rotate(0deg) translate(0, 6px) scale(.8);

    fill: #b5fffb;
}

.userTri {
    transform: rotate(180deg) translate(0, 6px);

    fill: #b5fffb;
}

.photoLink {
    .photo {
        width: 20px;
        transition: transform .5s;
        transform: translate(-10px, -37px);
    }
    .displayName {
        transition: opacity .3s;
        opacity: 0;

        fill: #b5fffb;
    }
    &:hover {
        width: 30px;
        cursor: pointer;
        .displayName[data-lines='1'] + .photo {
            transform: translate(-10px, -51px);
        }
        .displayName[data-lines='2'] + .photo {
            transform: translate(-10px, -64px);
        }
        .displayName[data-lines='3'] + .photo {
            transform: translate(-10px, -79px);
        }
        .displayName {
            opacity: 1;
        }
    }
}

.timeAgoLabel {
    transform: translate(0, 14px) scale(.7);

    fill: #b5fffb;
}

.timeAgoLabelLine2 {
    transform: translate(0, 29px) scale(.6);

    fill: #b5fffb;
}
