.generatedMountainContainer {
    position: absolute;
    top: -62px;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    svg path.line {
        position: absolute;
        left: 0;

        fill: #d494a0;
    }
    svg {
        transition: transform 1s;
        transition-timing-function: cubic-bezier(.075, .820, .165, 1.000);
    }
}

.chart {
    width: calc(100000px - 450px);
    height: 100%;
}

.tri {
    transform: rotate(180deg) translate(0, 8px);

    fill: #fff;
}

.camera {
    transform: rotate(180deg) translate(0, 8px);

    fill: transparent;
}
