.generatedMountainContainer {
    position: absolute;
    top: -62px;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    svg path.line {
        position: absolute;
        left: 0;

        fill: #ef6c8c;
    }
    svg {
        transition: transform 1s;
        transition-timing-function: cubic-bezier(.075, .820, .165, 1.000);
    }
    text {
        transform: translate(0, 23px) scale(.7);

        fill: #fff5d9;
    }
}

.chart {
    width: calc(100000px - 450px);
    height: 100%;
}

.tri {
    transform: rotate(180deg) translate(0, 8px);

    fill: #b7516a;
}

.camera {
    transform: rotate(180deg) translate(0, 8px);

    fill: transparent;
}

.checkpoint {
    transform: rotate(0deg) translate(0, 6px) scale(.8);

    fill: #fff5d9;;
}
