@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
    overflow: hidden;
    width: 100vw;
    margin: 0;
    color: #a99e82;
}

* {
    font-family: 'Open Sans', sans-serif;

    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    height: 100vh;
    padding: 60px 0 0 0;
    background: linear-gradient(to bottom, #fff5d9 0%, #fff5da 100%);
}
